.kaufman__triangle {
    background-image: url(../../../images/kaufman-triangle.svg);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;
    width: 877px;
    height: 877px;
    overflow: hidden;
    right: -210px;
    top: 0;
}